*{
    margin: 0;
    padding: 0;
}
body{
    min-height:100vh;
    display: grid;
    grid-template-columns: 1fr 0;
    grid-template-rows: auto 1fr auto;
    background-color: #F9F9F9;
    grid-template-areas:
    "header header"
    "main sidebar"
    "footer sidebar";
}
header {
    display: flex;
    top: 0;
    position: sticky;
    grid-area: header;
    background-color: #F9F9F9;
    color: #606060;
    margin: 0;
    padding: 0;
}
header .container{
    display: flex;
    align-items: center; /* Выравнивание по вертикали */
    justify-content: space-between; /* Выравнивание по горизонтали */
    width: 100%;
    margin: 0 5em;
    padding: 3em 0 1em 0;  /* Достаточно отступов для внешнего вида */
    font-size: 13px;
    font-weight: 550;
    border-bottom: 2px #CBCBCB solid;
    flex-wrap: nowrap; /* Предотвращаем перенос строк */
}

.logo-nav-container{
    display: flex;
}
nav{
    display: flex;
    align-items: center;
    margin-left: 4em;
}
.nav-list{
    display: flex;
}
.nav-item{
    padding: 0 2em;
    list-style-type: none;
}
.nav-item a{
    color: #606060;
    text-decoration: none;
}

#login-button{

}
.white-button{
    padding: 1em;
    color: #606060;
    background-color: white;
    border: none;
    font-weight: 600;
}
#sign-button{

}
.purple-button{
    padding: 1em;
    color: white;
    background-color: #6C5FBC;
    border: 0px solid;
    border-radius: 15px;
    font-weight: 600;
}
#toggle-sidebar{
    display: none;
    background-color: rgba(255, 255, 255, 0);
    border: none
}
#toggle-sidebar-aside{
    background-color: rgba(255, 255, 255, 0);
    border: none
}
aside{
    top: 50px;
    height: calc(100vh - 50px);
    position: sticky;
    align-self: start;
    grid-area: sidebar;
}
main{
    grid-area: main;

    display: flex;
    flex-direction: column;
}
.initial-block{
    display: flex;
    flex-direction: row;
    background-color: #F9F9F9;
    justify-content: space-between;
    margin: 0 4em;

}
.enjoy-foods-container{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 50%;
    row-gap: 1em;
    text-align: left;
    padding: 4em 0;
    justify-content: space-evenly;
}
.enjoy-foods-container #header-one{
    color: #201F1F;
    font-size: 75px;
}
.enjoy-foods-container #header-two{
    display: none;
}
.enjoy-foods-container #header-one span,
.enjoy-foods-container #header-one span{
    font-size: 75px;
    color: #5C4EAE;
}
.over-users-container{
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: row;
    gap: 1em;
}
.enjoy-foods-container p{
    color: #676767;
    font-size: 18px;
}
.enjoy-foods-container p span{
    color: #6155AE;
    font-size: 18px;
}
.line{
    width: 54px;
    height: 0px;
    border-top: 0.5px solid rgba(32, 31, 31, 0.47);
}
#over-text{
    font-size: 15px;
    font-weight: 400;
    color: rgba(32, 31, 31, 0.47);
}
.started-buttons-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}
#go-pro-button{
    border: 1px solid #6C5FBC;
    border-radius: 15px;
    font-weight: 600;
    color: #6C5FBC;
}
.estimation-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}
.logo-trustpilot{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
}
.estimation-container span{
    font-size: 18px;
    font-weight: 700;
    color: black;
}
.star-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}
.star-container span{
    font-size: 16px;
    font-weight: 500;
    color: gray;
}
.decoration-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 2em 0;

}
.statistics-block{
    display: flex;
    flex-direction: row;
    background-image: url("assets/statistics-block/background-statistics.svg");
    color: white;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 4em 10em;
    background-size: cover;
    width: 1fr;
}
.box-1,
.box-2,
.box-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.box-2{
    border-right: 1px solid #C5C5C5;
    border-left: 1px solid #C5C5C5;
    padding: 0 4em;
}
.head-statistic{
    font-size: 43px;
    color: white;
}
.second-text-statistics{
    font-size: 14px;
    color: #C5BFED;
}
.download-block{
    display: flex;
    flex-direction: row;
    background-color: #F9F9F9;
    flex-wrap: wrap;
    margin: 0 4em;
}
.smartphone-image-container{
    display: flex;
    width: 50%;
    justify-content: center;
    padding: 3em 0;
}
.smartphone-image-container img{
    display: inline-block;
   width: 100%;
}
.premium-quality-container{
    display: flex;
    padding: 15em 0;
    width: 50%;
    flex-direction: column;
    justify-content: space-between;
}
.premium-quality-container h1{
    color: #201F1F;
    font-size: 75px;
    text-align: left;

}
.premium-quality-container h1 span{
    font-size: 75px;
    color: #5C4EAE;
}
.premium-quality-list{
    font-size: 20px;
    color: #676767;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#download-button{
    padding: 1em;
    color: white;
    background-color: #6C5FBC;
    border: 0px solid;
    border-radius: 15px;
    font-weight: 600;
    width: 132px;
}
.top-restaurant-block{
    display: flex;
    flex-direction: column;
    background-color: #F9F9F9;
    flex-wrap: wrap;
    margin: 0 4em;
    padding: 3em;
    gap: 40px;
}


.top-restaurant-block h1{
    color: #201F1F;
    font-size: 75px;
}
.top-restaurant-block h1 span{
    color: #5C4EAE;
    font-size: 75px;
}
.top-restaurant-header-container{
    display: flex;
    justify-content: center;
}
.top-restaurants-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3em 4em;
    gap: 3em;
    overflow: hidden;
}
.top-one-restaurant-container,
.top-two-restaurant-container,
.top-three-restaurant-container{
    display: flex;
    flex-direction: column;
    width: 33.333%;
    height: 297px;
    background-color: white;
    border-radius: 35px;
    box-shadow: 10px 40px 15px rgba(0, 0, 0, 0.18);
    overflow: hidden;
}

.image-top-container{
    height: 60%;
    background-image: url("assets/top-restaurants-block/chicken-image-2.0.png");
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
}
.text-top-container{
    height: 40%;
    padding: 1em 2em;
}
.yellow-block {
    background-color: #F7EDD0;
    color: #DAA31A;
    padding: 1em;
    font-size: 12px;
    border-radius: 7px;
    width: 3em;
}
.red-block {
    background-color: #F7C5BA;
    color: #FB471D;
    padding: 1em;
    font-size: 12px;
    border-radius: 7px;
    width: 4em;
}
.view-all-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 4em;
    font-size: 20px;
    color: #ACADB9;
    gap: 20px;
}
.top-dishes-block{
    display: flex;
    flex-direction: column;
    background-color: aqua;
    flex-wrap: wrap;
    margin: 0 4em;
}
.top-dishes-header-container{
    display: flex;
    justify-content: center;
}
.top-dishes-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.control-purchases-block{
    display: flex;
    flex-direction: row;
    background-color: blueviolet;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 4em;
}
footer{
    grid-area: footer;
    background-color: black;
    color: white;
    padding: 2em;
}

@media(max-width: 1450px){
    .statistics-block{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .box-2{
        padding: 0 1em;
    }
}
@media(max-width: 1200px){
    .enjoy-foods-container #header-one{
        color: #201F1F;
        font-size: 46px;
    }
    .enjoy-foods-container #header-one span,
    .enjoy-foods-container #header-one span{
        font-size: 46px;
        color: #5C4EAE;
    }
    .decoration-container img{
        width: 483px;
        height: 431px;
    }
    .smartphone-image-container img{
        width:600px;
        height: 450px;
    }
    .premium-quality-container h1{
        color: #201F1F;
        font-size: 46px;
        text-align: left;

    }
    .premium-quality-container h1 span{
        font-size: 46px;
        color: #5C4EAE;
    }
    .premium-quality-container{
        display: flex;
        padding: 6em 0;
        width: 50%;
        flex-direction: column;
        justify-content: space-between;
    }
    .top-restaurant-block h1{
        color: #201F1F;
        font-size: 46px;
    }
    .top-restaurant-block h1 span{
        color: #5C4EAE;
        font-size: 46px;
    }
    .top-one-restaurant-container,
    .top-two-restaurant-container,
    .top-three-restaurant-container{
        display: flex;
        flex-direction: column;
        width: 33.333%;
        height: 197px;
        background-color: white;
        border-radius: 35px;
        box-shadow: 10px 40px 15px rgba(0, 0, 0, 0.18);
        overflow: hidden;
    }
}
@media(max-width: 900px){
    .decoration-container img{
        width: 323px;
        height: 288px;
    }
    .top-restaurants-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3em;
        overflow: hidden;
        padding: 0;
    }
    .top-one-restaurant-container,
    .top-two-restaurant-container,
    .top-three-restaurant-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 297px;
        background-color: white;
        border-radius: 35px;
        box-shadow: none;
        overflow: hidden;
    }
}


@media(max-width: 800px){
    body{
        grid-template-columns: 1fr;
    }
    .top-restaurants-container{
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .top-dishes-container{
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
    aside{
        top: 0;
        height: 100vh;
        position: fixed;
        width: 300px;
        right: 0;
        background-color: #f9f9f9;
        padding: 3em 3em 1em 1em;
        display: none;
        flex-direction: column;
        align-items: flex-end; /* Выравнивание содержимого по центру */
    }
    .show{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    header{
        display: flex;
    }
    #toggle-sidebar{
        display: block;
    }
    nav{
        display: none;
    }
    .header-button-container{
        display: none;
    }
    .enjoy-foods-container{
        text-align: center;
        font-size: 46px;
        justify-content: center;
        align-items: center;
    }
    .initial-block{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .enjoy-foods-container{
        padding: 2em 0;
    }
    .enjoy-foods-container #header-one{
        display: none;
    }
    .enjoy-foods-container #header-two{
        display: block;
        color: #201F1F;
        font-size: 25px;
    }
    .enjoy-foods-container  #header-two span{
        font-size: 25px;
        color: #5C4EAE;
    }
    .statistics-block{
        display: flex;
        flex-direction: column;
        background-image: url("assets/statistics-block/background-statistics.svg");
        color: white;
        padding: 2em 3em;
        gap: 5em;
    }
    .box-2{
        border: none;
    }
    .head-statistic{
        font-size: 25px;
        color: white;
    }
    .download-block{
        display: flex;
        flex-direction: column;
        background-color: #F9F9F9;
        flex-wrap: wrap;
        margin: 0 4em;
        align-items: center;
        justify-content: space-between;

    }
    .premium-quality-container{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .smartphone-image-container{
        display: flex;
        justify-content: center;
        padding: 3em 0 0;
        align-items: center;
    }
    .smartphone-image-container img{
        width: 100%;
        height: 350px;
    }
    .premium-quality-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .premium-quality-container h1{
        color: #201F1F;
        font-size: 25px;
        text-align: center;

    }
    .premium-quality-container h1 span{
        font-size: 25px;
        color: #5C4EAE;
    }
    .estimation-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .started-buttons-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .decoration-container{
        display: none;
    }
    .top-restaurant-block h1{
        color: #201F1F;
        font-size: 25px;
    }
    .top-restaurant-block h1 span{
        color: #5C4EAE;
        font-size: 25px;
    }
    .text-top-container h2{
        font-size: 20px;
        padding: 1em 0;
    }
    .view-all-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-right: 4em;
        font-size: 10px;
        color: #ACADB9;
        gap: 10px;
    }
    .view-all-container img{
        height: 15px;
    }


}